.container-detail-item{
    padding: 5rem;

    picture{
        img{
            background-color: #34495e;
            padding: 3px;
            height: 44rem;
            border-radius: 5px;
        }
    }
    
    h2{
        text-align: center;
        font-family: 'Vollkorn SC', serif;
        font-size: 2.2rem
    }
    
    p{
        font-size: 1.4rem;
        font-family: 'Contrail One', cursive;
        
        span{
            text-decoration: underline 2px solid;
            
        }
    }
    
    
    .info-container{
        background-color: #dfdddd;
        width: 50rem;
        margin-top: 30px;
        border-radius: 5px 60px 
    
    }

}