.container-detail-item{
    padding: 5rem;

    picture{
        img{
            background-color: #34495e;
            padding: 3px;
            height: 44rem;
            border-radius: 5px;
        }
    }
    
    h2{
        text-align: center;
        font-family: 'Vollkorn SC', serif;
        font-size: 2.2rem
    }
    
    p{
        font-size: 1.4rem;
        font-family: 'Contrail One', cursive;
        
        span{
            text-decoration: underline 2px solid;
            
        }
    }
    
    
    .info-container{
        background-color: #dfdddd;
        width: 50rem;
        margin-top: 30px;
        border-radius: 5px 60px 
    
    }

}

footer{
    display: flex;
    justify-content: center;
    gap: 2.2rem;
    .Option{
        align-items: center;
        text-decoration: none;
         .btn-terminar-compra{
            
            background-color: #2c3e50;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
        
            &:hover {
              background-color: #20c67a;
              color: #ffffff;
            }
        
            &:disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          
        }

   
        .btn-seguir-comprando {
         
            background-color: #2c3e50;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
        
            &:hover {
              background-color: #293642;
              color: #f4ff91;
  
            }
        
            &:disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
    }
}