.list_container{
    padding: 2rem;
    


        h2{
            font-size: 4rem;
            color: #1d1c1c;
            font-family: 'Vollkorn SC', serif;
            padding: 1rem;
            text-align: center;

        }
       
}
